<p id="notice"><%= notice %></p>

<p>
  <strong>Page name:</strong>
  <%= @my_shop.page_name %>
</p>

<p>
  <strong>Page:</strong>
  <%= @my_shop.page %>
</p>

<%= link_to 'Edit', edit_my_shop_path(@my_shop) %> |
<%= link_to 'Back', my_shops_path %>
